{% extends 'content.html.twig' %}

{% block title %}{{ parent() }} - Set availability{% endblock %}

{% block content %}
    <div class="offset-lg-3 col-lg-6 text-neutral">
        <h3>Set availability</h3>

        {{ form_start(form) }}
        {{ form_row(form.status, { 'attr': {'autocomplete': 'off'} }) }}
        {{ form_row(form.text, { 'attr': {'autocomplete': 'off'} }) }}

        <button class="btn btn-sm btn-info">Save</button>
        <a class="btn btn-sm btn-default" href="{{ path('event_show', {'id': availability.event.id}) }}">Back</a>
        {{ form_end(form) }}
    </div>

{% endblock %}

