{% extends 'base.html.twig' %}

{% block body %}
    <nav class="navbar navbar-expand-lg bg-dark mb-5">
        <div class="container">
            <div class="navbar-translate">
                <a class="navbar-brand" href="{{ path('app_index') }}">
                    <img src="{{ asset('img/logo_fc_ebitda.png') }}" width="50" height="50"
                         class="d-inline-block align-middle" alt="Logo Ebitda"><span class="ml-3 mr-5">FC EBITDA</span>
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-bar navbar-kebab"></span>
                    <span class="navbar-toggler-bar navbar-kebab"></span>
                    <span class="navbar-toggler-bar navbar-kebab"></span>
                </button>
            </div>
            <div id="navbarNavDropdown" class="collapse navbar-collapse col-lg-11 col-md-9 col-sm-9 col-9">
                <ul class="navbar-nav">
                    {% if current_user is defined %}
                        <li class="nav-item active">
                            <a href="{{ path('app_settings_index') }}" class="nav-link"><span class="font-weight-bold">PROFILE</span></a>
                        </li>
                        {% if is_granted('ROLE_SUPER_ADMIN') %}
                            <li class="nav-item active">
                                <a href="{{ path('admin_user_index') }}" class="nav-link"><span
                                            class="font-weight-bold">ADMIN</span></a>
                            </li>
                        {% endif %}
                        <li class="nav-item active">
                            <a href="{{ path('app_security_logout') }}" class="nav-link"><span>Logout</span></a>
                        </li>
                    {% else %}
                        <li class="nav-item active">
                            <a href="{{ path('app_security_login') }}" class="nav-link text-primary"><b>Sign in</b></a>
                        </li>
                        <li class="nav-item active">
                            <a href="{{ path('app_security_register') }}" class="nav-link text-neutral"><b>Sign
                                    up</b></a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>
    <footer class="container mt-5 text-center">
        <div class="row">
            <div class="offset-3 col-6 border-top border-default p-3">
                <a href="https://twitter.com/max0ble">@max0ble</a> - 2019
            </div>
        </div>
    </footer>
{% endblock %}