{% extends 'content.html.twig' %}

{% block title %}{{ parent() }} - Admin user index{% endblock %}

{% block content %}
    <h1>Users</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Username</th>
            <th>Roles</th>
            <th>Position</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.username }}</td>
                <td>{% for role in user.roles %}<span class="badge badge-default mr-1">{{ role }}</span>{% endfor %}
                </td>
                <td>{{ user.position }}</td>
                <td>
                    <a class="badge badge-neutral" href="{{ path('admin_user_show', {'id': user.id}) }}">show</a>
                    <a class="badge badge-info" href="{{ path('admin_user_edit', {'id': user.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
